---
layout: default
title: Hello Pigeon
---

<article>
  <time datetime="{{ site.posts.first.date | xmlschema }}">{{ site.posts.first.date | date: "%d %b" }}</time>
  <h2><a href="{{ site.url }}{{ site.posts.first.url }}">{{ site.posts.first.title }}</a></h2>
  {{ site.posts.first.content }}
</article>
<hr>
<h2>Archive</h2>
<ol id="archive">
  {% for post in site.posts offset:1 %}
    <li>
      <time datetime="{{ post.date | xmlschema }}">{{ post.date | date: "%Y-%m" }}</time>
      <p><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></p>
    </li>
  {% endfor %}
</ol>


  <nav id="pagination">
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
      <a href="/" title="Previous Page">&laquo; Previous</a>
      {% else %}
      <a href="/page{{ paginator.previous_page }}/" title="Previous Page">&laquo; Previous</a>
      {% endif %}
    {% endif %}
    
    {% if paginator.next_page %} 
    <a href="/page{{ paginator.next_page }}/" title="Next Page">Next &raquo;</a>
    {% endif %} 
  </nav>
