---
layout: default 
title: Nation Pigeon
---
<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
<div class="row">
  <div class="col-lg-12">
    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
    <h4>{{ post.date | date_to_long_string }}</h4>
    <div class="row">
      <div class="col-lg-12">
        {{ post.content }}
      </div>
    </div>
  </div>
</div>
<hr />
{% endfor %}

<!-- Pagination links -->
<ul class="pager">
  {% if paginator.previous_page %}
    <li class="previous">
      {% if paginator.previous_page == 1 %}
        <a href="/">&larr; Newer</a>
      {% else %}
        <a href="/page{{ paginator.previous_page }}">&larr; Newer</a>
      {% endif %}    
        </li>
  {% else %}
    <li class="previous disabled"><a>&larr; Newer</a></li>
  {% endif %}

  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  
  {% if paginator.next_page %}
    <li class="next"><a href="/page{{ paginator.next_page }}">Older &rarr;</a></li>
  {% else %}
    <li class="next disabled"><a>Older &rarr;</a></li>
  {% endif %}
</ul>