---
layout: default
---
<script>
	var year_label = new Array();
	var year_data = new Array();
	{% for year in page.years %} 
	year_label.push({{ year[0] }});
	year_data.push({{ year[1].size }});
	{% endfor %}
	
	helpers = Chart.helpers;

	var lineChartData = {
		labels : year_label,
		datasets : [
			{
				label: "My First dataset",
				fillColor : "rgba(220,220,220,0.2)",
				strokeColor : "rgba(220,220,220,1)",
				pointColor : "rgba(220,220,220,1)",
				pointStrokeColor : "#fff",
				pointHighlightFill : "#fff",
				pointHighlightStroke : "rgba(220,220,220,1)",
				data : year_data
			}
		]

	}

window.onload = function(){
	var ctx = document.getElementById("canvas").getContext("2d");
	window.myLine = new Chart(ctx).Line(lineChartData, {
		responsive: true
	});

	helpers.addEvent(canvas, 'click', function(evt){
	    var activePoints = 	window.myLine.getPointsAtEvent(evt);
			$( "[id*=year-]").hide();
			$( "#year-" + activePoints[0].label ).show( "slow" );
	});
}
</script>


<h1>Stats</h1>
<p>The below graph details the number of posts per year</p>
<p>Click on a point to view a list of all published posts on that year</p>

<div>
	<canvas id="canvas" height="450" width="600"></canvas>
</div>


{% for year in page.years %}
<div id="year-{{ year[0] }}" style="display: none">
	<h2>{{ year[0] }}</h2>
	<ul>
	{% for post in year[1] %}
		<li style="list-style-type:none;"><b>{{ post.date | date_to_long_string  }}</b> <a href="{{ post.url }}">{{ post.title }}</a></li>
	{% endfor %}
	</ul>
</div>
{% endfor %}