<!DOCTYPE html>
<html lang="en-GB">
<head>
	<meta charset="UTF-8" />
	<meta name="description" content="Nation Pigeon - The Nations Favourite Pigeon." />
	<meta name="keywords" content="Programming, linux, unix, how to, help, web development, java, c,c++, python, information, nation, pigeon, nation pigeon, php, css, html, software development life cycle, steampunk, anime, cyber, sci-fi, random, pete, osaka, Pete Maynard, Peter, Maynard, blog, Aberystwyth, computer science"/>
	<title>{{ page.title }}</title>
</head>
<body>

	{{ content }}

</body>
</html>
