---
layout: default 
---
<div class="row">
  <div class="col-lg-12">
    <h1>{{ page.title }}</h1>
    <h4 class="date">{{ page.date | date_to_long_string }}</h4>
    <div id="post" >
      {{ content }}
    </div>

    <h4>Posted under: {{ page.categories | category_links }}</h4>

    <div class="share"></div>

    {% if page.previous %} 
    <div class="slide-previous">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <div class="previous-container">
        <h3>Previous Post</h3>
        <h4><a rel="previous" href="{{ page.previous.url }}">{{ page.previous.title }}</a></h4>
      </div>
    </div>
    {% endif %}

    {% if page.next %}
    <div class="slide-next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <div class="next-container">
        <h3>Next Post</h3>
        <h4><a rel="next" href="{{ page.next.url }}">{{ page.next.title }}</a></h4>
      </div>
    </div>
    {% endif %}

  </div>
</div>